.DS_Store
.localized
.ipynb_checkpoints/
output/
results/
work/
*.fastq
*.fastq.gz

../.DS_Store
../.ipynb_checkpoints/
../.localized
../output/
../Amplicon/
../*.pdf
../*.tsv.gz
../*.xlsx
../*.ipynb
../voc/
../asv_pipeline/
../samplerun/
../sra_fastq/
../NF/
../nf-training/
../others/
../*.tre
../*.sh
# Exception: Allow files explicitly
!ASVs_main.nf
!README.md
!nextflow.config
