nextflow.enable.dsl=2
// Parameters
// params {
//     input = "raw_fastq"         // Input directory
//     output = "vsearch_output"  // Output directory
//     threads = 16               // Number of threads
//     skip_fastp = false
//     skip_merge = false
//     skip_filter = false
//     skip_concat = false
//     skip_derep = false
//     skip_denoise = false
//     skip_chimera = false
//     skip_singleton = false
//     skip_count = false
// }
// Docker settings
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --mount type=bind,source="./",target="/curr" --workdir="/curr"' // Run as the current user in the current directory
    temp = './tmp'
}
// Process-specific configurations

process {
    withName:fastpQC {
        container = 'quay.io/biocontainers/fastp:0.24.0--h125f33a_0'
        cpus = 4
        memory = '8 GB'
    }
    withName:mergeReads {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
    withName:filterReads {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
    withName:concatenateReads {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0' 
        cpus = 2
        memory = '2 GB'
    }
    withName:dereplicateSequences {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
    withName:denoiseASV {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '8 GB'
    }
    withName:chimeraCheck {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
    withName:removeSingletons {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
    withName:createCountMatrix {
        container = 'quay.io/biocontainers/vsearch:2.29.0--h6a68c12_0'
        cpus = 4
        memory = '4 GB'
    }
}
